<html>

<head>
    <title>Welcome</title>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<style>

    .jumbotron{
      background-image: url("https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2019/12/p-1-90443036-pantoneand8217s-2020-color-of-the-year-is-not-good.jpg");
    }
    button{
      height:60px;
      border-radius:10px;
      cursor:pointer;
      width:130px;
      background:green;
      color:white;

    }
    a{
      font-size:20px;


    }

    h2{
        font-size: 40px;
        color: white;

    }


</style>
<body>
<div class="jumbotron">
    <h2>Welcome To Customer Survey</h2>

</div>
<div class="row">
  <div class="col-md-12">
  <h2 style="color:black;">Click The Start Button For The Customer Survey</h2>
</div>
  </div>

<a href="/survey"><button type="button" name="button"> Start </button></a>

</body>
</html>
